body {
    font-family: Arial, sans-serif;
    background: url(Asset/BG1.png);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    background-color: #64444d;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    width: 100%;
}

.navbar p {
    color: white;
    text-decoration: none;
    width: 100%;
}

.navbar hr {
    width: 100%;
    border: 2px solid #ffffff;
    margin-bottom: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    margin-left: 210px;
    background: #aa8385;
}
.logout-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.container h1 {
    color: #ffffff;
}

.container p {
    color: #ffffff;
}