* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #aa8385;
}
  
.wrapper {
    display: flex;
    width: 850px;
    height: 520px;
    background: #64444d;
    border-radius: 30px;
    text-align: center;
}

.wrapper .Left {
    width: 300px;
    height: 520px;
    color: #FFFFFF;
}

.Left .Text-1 {
    margin : 30px 30px 0px 30px;
    width: 250;
    color: #000000;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
}

.Left .Text-2 {
    margin : 0px 30px;
    width: 250;
    color: #adadad;
    font-size: 38px;
    font-weight: 600;
    text-align: left;
}

.wrapper .Right {
    height: 520px;
    position: relative;
    width: 550px;
    color: #FFFFFF;
}

.Right .Frame {
    background-color: #ffffff;
    border-radius: 0px 30px 30px 0px;
    height: 520px;
    overflow: hidden;
    position: relative;
}

.Frame img {
    width: 500px;
    margin: 20px 0px;
}

.Frame .input-box {
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input {
    width: 80%;
    height: 35px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #F2F0F0;
    border: none;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    color: black;
}

.Frame .btn {
    width: 80%;
    height: 35px;
    background: #64444d;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    margin: 35px 0;
}

.btn:hover {
    transform: scale(0.98);
}

.btn:active {
    transform: scale(0.95)
}

.Forget a {
    display: flex;
    justify-content: flex-end;
    padding: 0px 58px 0px 0px;
    color: #64444d;
}

.wrapper .Login-link {
    color: #c0c0c0;
    font-size: 16px;
}
  
.Login-link a {
    color: #64444d;
    font-weight: 600;
}

@media screen and (max-width: 768px){
    .wrapper {
        margin-top: 550px;
    }
}


