* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    background: url(Asset/Bg-hero.png) no-repeat;
}

.Logo {
    align-self: flex-start;
    padding: 20px 0px 0px 40px;
}

.Landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 55px 0px 0px 0px;
}

.Landing-page h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 60px;
}

.Landing-page h4{
    width: 550px;
    margin-top: 10px;
    color: #FFFFFF;
    text-align: center;
}

.Start{
    display: flex;
    margin: 0px 0px 0px 55px;
}

.Start img {
    width: 80px;
    height: 50px;
    margin: 30px 0px 0px 0px;
}

.Start .Start-button {
    width: 120px;
    height: 40px;
    background: #64444d;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    margin: 40px 5px 0px 0px;
}

.Start-button:hover {
    transform: scale(0.90);
}

.Start-button:active {
    transform: scale(0.90)
}

.Accessories img {
    width: 850px;
    margin-top: 50px;
}

@media (max-width: 480px) {
    .Logo {
        padding: 20px 0px 0px 20px;
    }

    .Landing-page {
        margin: 30px 0px 0px 0px;
        height: 75vh;
    }

    .Landing-page h1 {
        font-size: 28px; /* Sesuaikan ukuran font */
    }

    .Landing-page h4 {
        width: 90%; /* Lebar deskripsi menyesuaikan layar */
        font-size: 14px;
        padding: 0 10px;
        margin: 0px 0px 30px 0px;
    }

    .Start {
        margin: 0;
        align-items: center;
    }

    .Start img {
        width: 50px;
        height: 30px;
        margin: 20px 0 40px 10px;
    }

    .Start .Start-button {
        width: 90px; /* Lebar tombol lebih kecil */
        height: 30px;
        font-size: 12px;
        margin: 30px 0PX;
        margin-left: 60px;
    }

    .Accessories {
        display: flex;
        justify-content: center;
    }

    .Accessories img {
        width: 90%; /* Lebar gambar aksesoris menyesuaikan layar */
        max-width: 500px; /* Batasi ukuran maksimum */
        margin-top: 30px;
    }
}